/* ********************* */
/* Global Styles */
/* ********************* */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.background--blue {
  background-image: linear-gradient(225deg, #0000ff 0%, #02027a 100%);
}

.boton--hover:hover {
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
}

/* ********************* */
/* Header Nav Section */
/* ********************* */

.header {
  position: relative;
  height: 100%;
  margin-bottom: 20px;
  z-index: 2;
}

.header--nav {
  padding: 0 90px 0 90px;
  height: 44px;
  margin: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--nav .logo {
  width: 36px;
  height: 36px;
}

.header--nav--items {
  list-style-type: none;
}

.header--nav--items li {
  display: inline-block;
  margin-left: 48px;
}

.header--nav--items li a {
  font-family: "IBM Plex Mono", monospace;
  color: #060a24;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-decoration: none;
  margin-bottom: 24px;
}

.header--nav--items li a:hover {
  color: #00f3bb;
  /* text-decoration: underline wavy #02027a; */
  /* text-decoration: underline overline; */
  /* text-decoration: overline; */
  text-decoration: line-through;
  /* text-decoration: underline; */
}

.header--nav--items li a:active {
  color: #060a24;
}

.mobile-menu {
  display: none;
  overflow: hidden;
}

.nav-menu-movil {
  transform: translateX(100%);
  transition: all 0.3s ease;
}

.nav-menu-movil li {
  font-family: "IBM Plex Mono", monospace;
  height: 72px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: #fff;
  background: #02027a;
  cursor: pointer;
  transition: 0.5s ease-in-out all;
}

.nav-menu-movil li a {
  color: #fff;
  width: 70%;
  height: 70%;
  padding-top: 15px;
  text-decoration: none;
}

#hamburguesa {
  display: none;
}

.header--content {
  margin-top: 100px;
  padding: 0px 0px 0px 15%;
  width: 100%;
}

.header--content--title {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 64px;
  letter-spacing: 0;
}

.line-world {
  text-decoration: line-through;
}

.header--content--text {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 24px;
  width: 100%;
  margin-bottom: 60px;
}

.boton {
  padding: 0 30px;
  border: none;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #060a24;
  width: 226px;
  height: 56px;
  background: #00f3bb;
}

@media screen and (max-width: 990px) {
  .header--content {
    padding-left: 5%;
  }
}

@media screen and (max-width: 804px) {
  .header--content--title {
    font-size: 48px;
  }
  .header--nav {
    padding: 0 45px 0 45px;
  }
}

@media screen and (max-width: 715px) {
  .header--nav {
    display: none;
  }
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    width: 100%;
    display: block;
  }
  .mobile-menu-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
  }

  #hamburguesa:checked ~ .nav-menu-movil {
    transform: translateX(0%);
  }
  .nav-menu-movil li:hover {
    background: #0000ff;
    color: #00f3bb;
    text-decoration: line-through;
  }
  .nav-menu-movil li a:hover {
    color: #00f3bb;
  }
  .header--content {
    margin-top: 0px;
  }
  .header--content--title {
    padding-top: 30px;
  }
}

@media screen and (max-width: 685px) {
  .header--content {
    padding: 0px 10px 0px 10px;
    margin-top: -290px;
    margin-left: 0px;
  }
  .header--content--text {
    letter-spacing: 0;
    line-height: 24px;
    width: 100%;
    margin-bottom: 60px;
    margin-top: 15px;
  }
  .boton {
    width: 100%;
  }
}

/* ********************* */
/* Episodios Section */
/* ********************* */

.episodes {
  position: relative;
  width: 100%;
  height: 880px;
}
.episodes--container--title {
  font-family: "IBM Plex Sans", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 48px;
  padding-top: 220px;
  padding-left: 250px;
}

.podcast--container {
  display: inline-flex;
  width: 100%;
  padding: 20px 200px 20px 200px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.podcast--item {
  padding: 20px;
  height: 200px;
  width: 50%;
  border: none;
}

.episodes--container--back {
  position: absolute;
  width: 100%;
  height: 880px;
  z-index: -1;
}

.episodes--polygon {
  clip-path: polygon(0% 20%, 100% 0%, 100% 80%, 0% 100%);
}

@media screen and (max-width: 990px) {
  .podcast--container {
    padding: 20px;
  }
  .episodes--container--title {
    padding-left: 50px;
  }
}

@media screen and (max-width: 769px) {
  .podcast--container {
    padding: 20px;
    flex-direction: column;
  }
  .episodes {
    width: 100%;
    height: 1150px;
  }
  .podcast--item {
    width: 100%;
  }
  .episodes--container--back {
    height: 1250px;
  }
  .episodes--container--title {
    font-size: 38px;
    padding-top: 100px;
    padding-left: 35px;
  }
  .episodes--polygon {
    clip-path: polygon(0% 5%, 100% 1%, 100% 85%, 0% 90%);
  }
}

/* ********************* */
/* Nosotros Section */
/* ********************* */

.aboutus {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: -140px;
}

.aboutus-container {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
}

.aboutus--figure--img {
  width: 460px;
}

.aboutus--description {
  margin: 0;
  height: 100%;
  width: 464px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.aboutus--title {
  font-family: "IBM Plex Sans", sans-serif;
  color: #060a24;
  font-weight: 400;
  font-size: 48px;
  margin-top: 180px;
  margin-bottom: 34px;
}

.aboutus--text {
  font-family: "IBM Plex Mono", monospace;
  color: #060a24;
  font-size: 16px;
}

@media screen and (max-width: 990px) {
  .aboutus--figure--img {
    width: 340px;
  }
  .aboutus--description {
    padding-right: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 715px) {
  .aboutus-container {
    flex-direction: column;
    align-items: center;
  }
  .aboutus--description {
    width: 100%;
    padding: 0px 15px 0px 20px;
  }
  .aboutus--title {
    padding-right: 60px;
    font-size: 38px;
    margin-top: 40px;
    margin-bottom: 34px;
  }
}

/* ********************* */
/* Entrevistas Section */
/* ********************* */

.interviews {
  width: 100%;
  margin-top: 64px;
}

.interviews--title {
  font-family: "IBM Plex Sans", sans-serif;
  color: #060a24;
  font-weight: 400;
  font-size: 48px;
  padding-left: 200px;
}

.interviews--photos {
  margin-top: 40px;
  display: inline-flex;
  flex-wrap: wrap;
  line-height: 0;
  font-size: 0;
}

.interviews--photos--item {
  border: 0px;
  width: 33.3%;
}

@media screen and (max-width: 990px) {
  .interviews--title {
    padding-left: 100px;
  }
}

@media screen and (max-width: 860px) {
  .interviews--title {
    padding-left: 50px;
  }
}
@media screen and (max-width: 715px) {
  .interviews {
    padding: 0px;
    display: flex;
    flex-direction: column;
  }
  .interviews--title {
    font-size: 38px;
    padding-left: 20px;
  }
  .interviews--photos {
    flex-direction: column;
    width: 100%;
  }
  .interviews--photos--item {
    width: 100%;
  }
}

/* ********************* */
/* Tópicos Section */
/* ********************* */

.topics {
  padding: 65px 80px 35px 80px;
  width: 100%;
}

.topics--title {
  margin-bottom: 55px;
  font-family: "IBM Plex Sans", sans-serif;
  color: #060a24;
  font-weight: 400;
  font-size: 48px;
}

.topics--cards {
  display: flex;
  justify-content: space-between;
}

.topics--cards--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 0px 20px 0px 20px;
}

.topics--cards--item--img {
  width: 104px;
  height: 104px;
  margin-bottom: 29px;
}

.topics--cards--item--title {
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  color: #060a24;
  font-weight: 600;
  font-size: 24px;
}

@media screen and (max-width: 990px) {
  .topics {
    padding: 65px 30px 35px 30px;
  }

  .topics--cards--item {
    margin-bottom: 30px;
    padding: 0px;
  }
}

@media screen and (max-width: 810px) {
  .topics--cards {
    margin-left: 30px;
    padding-left: 0px;
  }
  .topics--cards--item--title {
    font-size: 18px;
  }
}

@media screen and (max-width: 685px) {
  .topics--title {
    font-size: 38px;
  }
  .topics--cards {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0px;
  }
  .topics--cards--item {
    padding: 0px 10px 0px 10px;
    width: 50%;
  }

  .topics--cards--item--img {
    width: 90px;
    height: 90px;
    margin-bottom: 29px;
  }
  .topics--cards--item--title {
    font-size: 18px;
  }
  .topics {
    padding: 65px 20px 0px 20px;
  }
}

/* ********************* */
/* Novedades Section */
/* ********************* */

.novelties {
  position: relative;
  width: 100%;
  height: 500px;
}

.novelties--back {
  position: absolute;
  width: 100%;
  height: 500px;
  z-index: -1;
}

.novelties--contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.novelties--contents--title {
  margin-bottom: 40px;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 48px;
}

.novelties--boton {
  border: none;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #060a24;
  width: 345px;
  height: 56px;
  background: #00f3bb;
  transition: 0.7s ease all;
}

.novelties-polygon {
  clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
}

@media screen and (max-width: 685px) {
  .novelties {
    height: 375px;
  }
  .novelties--contents--title {
    margin-bottom: 20px;
    font-size: 38px;
  }
  .novelties--back {
    height: 450px;
  }
  .novelties--contents {
    padding: 0px 20px 0px 20px;
  }
  .novelties--boton {
    margin-top: 15px;
    width: 100%;
  }
  .novelties-polygon {
    clip-path: polygon(0% 15%, 100% 0%, 100% 80%, 0% 80%);
  }
}

/* ********************* */
/* Footer */
/* ********************* */

.footer {
  margin: 30px 100px 30px 100px;
  display: flex;
  justify-content: space-between;
}

.fotter--copyright {
  font-family: "IBM Plex Sans", sans-serif;
  color: #060a24;
  font-weight: 400;
  font-size: 16px;
}

.footer--icons {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 20px;
  cursor: pointer;
}

.footer--icons i:hover {
  color: #00f3bb;
}

@media screen and (max-width: 685px) {
  .footer {
    flex-direction: column;
    align-items: center;
    margin: 0px 15px 10px 15px;
  }
  .fotter--copyright {
    font-size: 17px;
    margin-bottom: 20px;
  }

  .footer--icons {
    padding: 0px 50px 0px 50px;
    width: 100%;
  }
}
