/* ********************* */
/* Global Styles */
/* ********************* */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.background--blue {
  background-image: linear-gradient(225deg, #0000ff 0%, #02027a 100%);
}

.boton--hover:hover {
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
}

/* ********************* */
/* Header Nav Section */
/* ********************* */

.header {
  height: 100%;
  margin-bottom: 20px;
  z-index: 2;
}

.header--nav {
  padding: 0 90px 0 90px;
  height: 44px;
  margin: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--nav .logo {
  width: 36px;
  height: 36px;
}

.header--nav--items {
  list-style-type: none;
}

.header--nav--items li {
  display: inline-block;
  margin-left: 48px;
}

.header--nav--items li a {
  font-family: "IBM Plex Mono", monospace;
  color: #060a24;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-decoration: none;
  margin-bottom: 24px;
}

.header--nav--items li a:hover {
  color: #00f3bb;
  /* text-decoration: underline wavy #02027a; */
  /* text-decoration: underline overline; */
  /* text-decoration: overline; */
  text-decoration: line-through;
  /* text-decoration: underline; */
}

.header--nav--items li a:active {
  color: #060a24;
}

.mobile-menu {
  display: none;
  overflow: hidden;
}

.nav-menu-movil {
  transform: translateX(100%);
  transition: all 0.3s ease;
}

.nav-menu-movil li {
  font-family: "IBM Plex Mono", monospace;
  height: 62px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: #fff;
  background: #02027a;
  cursor: pointer;
  transition: 0.5s ease-in-out all;
}

.nav-menu-movil li a {
  color: #fff;
  width: 70%;
  text-decoration: none;
}

#hamburguesa {
  display: none;
}

.header--content {
  margin-top: 100px;
  padding: 0px 0px 0px 15%;
  width: 100%;
}

.header--content--title {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 64px;
  letter-spacing: 0;
}

.line-world {
  text-decoration: line-through;
}

.header--content--text {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 24px;
  width: 100%;
  margin-bottom: 60px;
}

.boton {
  padding: 0 30px;
  border: none;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #060a24;
  width: 226px;
  height: 56px;
  background: #00f3bb;
}

/* ********************* */
/* Episodios Section */
/* ********************* */

.episodes {
  position: relative;
  width: 100%;
  height: 880px;
}
.episodes--container--title {
  font-family: "IBM Plex Sans", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 48px;
  padding-top: 220px;
  padding-left: 250px;
}

.podcast--container {
  display: inline-flex;
  width: 100%;
  padding: 20px 200px 20px 200px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.podcast--item {
  padding: 20px;
  height: 200px;
  width: 50%;
  border: none;
}

.episodes--container--back {
  position: absolute;
  width: 100%;
  height: 880px;
  z-index: -1;
}

.episodes--polygon {
  clip-path: polygon(0% 20%, 100% 0%, 100% 80%, 0% 100%);
}

/* ********************* */
/* Nosotros Section */
/* ********************* */

.aboutus {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: -140px;
}

.aboutus-container {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
}

.aboutus--figure--img {
  width: 460px;
}

.aboutus--description {
  margin: 0;
  height: 100%;
  width: 464px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.aboutus--title {
  font-family: "IBM Plex Sans", sans-serif;
  color: #060a24;
  font-weight: 400;
  font-size: 48px;
  margin-top: 180px;
  margin-bottom: 34px;
}

.aboutus--text {
  font-family: "IBM Plex Mono", monospace;
  color: #060a24;
  font-size: 16px;
}

/* ********************* */
/* Entrevistas Section */
/* ********************* */

.interviews {
  width: 100%;
  margin-top: 64px;
}

.interviews--title {
  font-family: "IBM Plex Sans", sans-serif;
  color: #060a24;
  font-weight: 400;
  font-size: 48px;
  padding-left: 200px;
}

.interviews--photos {
  margin-top: 40px;
  display: inline-flex;
  flex-wrap: wrap;
  line-height: 0;
  font-size: 0;
}

.interviews--photos--item {
  border: 0px;
  width: 33.3%;
}

/* ********************* */
/* Tópicos Section */
/* ********************* */

.topics {
  padding: 65px 80px 35px 80px;
  width: 100%;
}

.topics--title {
  margin-bottom: 55px;
  font-family: "IBM Plex Sans", sans-serif;
  color: #060a24;
  font-weight: 400;
  font-size: 48px;
}

.topics--cards {
  display: flex;
  justify-content: space-between;
}

.topics--cards--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 0px 20px 0px 20px;
}

.topics--cards--item--img {
  width: 104px;
  height: 104px;
  margin-bottom: 29px;
}

.topics--cards--item--title {
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  color: #060a24;
  font-weight: 600;
  font-size: 24px;
}

/* ********************* */
/* Novedades Section */
/* ********************* */

.novelties {
  position: relative;
  width: 100%;
  height: 500px;
}

.novelties--back {
  position: absolute;
  width: 100%;
  height: 500px;
  z-index: -1;
}

.novelties--contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.novelties--contents--title {
  margin-bottom: 40px;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 48px;
}

.novelties--boton {
  border: none;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #060a24;
  width: 345px;
  height: 56px;
  background: #00f3bb;
  transition: 0.7s ease all;
}

.novelties-polygon {
  clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
}

/* ********************* */
/* Footer */
/* ********************* */

.footer {
  margin: 30px 100px 30px 100px;
  display: flex;
  justify-content: space-between;
}

.fotter--copyright {
  font-family: "IBM Plex Sans", sans-serif;
  color: #060a24;
  font-weight: 400;
  font-size: 16px;
}

.footer--icons {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 20px;
  cursor: pointer;
}

.footer--icons i:hover {
  color: #00f3bb;
}
